.free {
  padding: 26px 38px;
  background: #0075ff;
  border-radius: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
